.coins {
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    list-style: none;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 40px;

      .logotipo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 40px;
        gap: 15px;

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }

        &-text {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          &-name {
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            color: $black;
            line-height: 26px;
            height: 26px;
          }

          &-symbol {
            display: inline-block;
            font-size: 11px;
            font-weight: 400;
            color: $lightGray;
            text-transform: uppercase;
            line-height: 14px;
            height: 14px;
          }
        }
      }

      .btn-trash {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $red;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
        }
      }
    }
  }
}
